/* My name in xxl size */
.swname {
    color: #656358;
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    margin: 0;
}

/* whole box with al the content */
.biobox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6%;
    padding: 5%;
}

/* Box contains title and info */
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

/* Title of each category */
.title {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    letter-spacing: 2px;
    word-spacing: 5px;
    display: flex;
    flex-direction: row;
    float: left;
    min-width: 250px;
    width: 25%;
}

/* Info of each category */
.info {
    font-family: 'Playfair Display', serif;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    float: right;
    border-left: 3px solid #3d3b33;
    width: 65%;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

li {
    min-height: 10px;
    max-height: 50px;
}


i {
    display: flex;
    font-size: 14px;
    vertical-align: center;
    color: #3d3b33;
    padding-right: 0.3rem;
    float: left;
}

.points {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    float: right;
    margin-right: 70%;
    margin-top: 13px;

}

.infoIndent {
    margin-left: 2rem;
}

.subtitle {
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {

    .swname {
        display: flex;
        flex-wrap: wrap;
    }

    .points {
        display: flex;
        justify-content: center;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        margin-left: 50%;
        font-size: 20px;
    }

    li{
        font-size: 24px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .biobox {
        width: 100vw;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .box {
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
    }

    .title {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .info {
        text-align: center;
        justify-content: center;
        border-left: none;
        border-top: 3px solid #3d3b33;
        width: 100%;

    }

    .infoIndent {
        margin-left: 0;
        margin-bottom: 1rem;
        font-size: 16px;
        letter-spacing: 2px;
        word-spacing: 6px;
        line-height: 2.4rem;
    }

    .subtitle {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 370px){
    .swname {
        display: flex;
        flex-wrap: wrap;
        font-size: 60px;
    }

    li{

        font-size: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
}