.living{
    font-family: 'Playfair Display', serif;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    float: right;
    border-left: 3px solid #3d3b33;
    margin-right: 10%;
    padding-bottom: 2rem;

}

.biobox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10%;
}

.bio{
    font-family: 'Playfair Display', serif;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    float: right;
    border-left: 3px solid #3d3b33;

}

.aboutme{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    letter-spacing: 2px;
    word-spacing: 5px;
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 5%;

}

.aboutbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    float: bottom;

}

.swname{
    color: #3d3b33;
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    margin-left: 50%;

}

.livingtitel{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    letter-spacing: 2px;
    word-spacing: 5px;
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 5%;
}

.livingbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}