.living{
    display: block;
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    font-size: 24px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 12px;

}

.bio{
    font-family: 'Playfair Display', serif;
    border-style: solid;
    color: white;
    border-color: white;
    border-width: 2px;
    border-radius: 6px;
    margin-left: 10px;
    padding: 12px;
    max-width: 35%;
    float: left;
    font-size: 20px;

}

.profilepicture {
    border: 5px solid white;
    max-width: 100%;
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 50%;
    float: right;
}
