.maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contactinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 4rem;
    margin-top: 10rem;
    float: left;
    border-right: 2px solid #3d3b33;
    margin-bottom: 8%;
}

.contactinfo p{
    font-family: 'Playfair Display', serif;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.contactinfo h4{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    letter-spacing: 2px;
    word-spacing: 5px;
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: center;
}

.contactform {
    width: 50%;
    height: 40em;
    max-height: 50em;
    margin-top: 5rem;
    color: white;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    float: right;


}

.formcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.fname {
    float: left;
    margin: 20px auto;
    padding-right: 1%;
}

.lname {
    float: right;
    margin: 20px auto;
    padding-left: 1%;

}

.namecontainer {
    align-content: center;
    display: flex;

    justify-content: space-between;

}

.inputcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contactform input[type="text"], .contactform input[type="email"] {
    background: none;
    border: 2px solid #212121;
    padding: 10px 25px 15px;
    border-radius: 8px;
    outline: none;
    color: white;

}

#phone {
    background: none;
    border: 2px solid #212121;
    padding: 10px 25px 15px;
    border-radius: 8px;
    outline: none;
    color: white;

}

#phone:focus {
    border-color: #4a473c;
    width: 190px;
}

.contactform input[type = "text"]:focus, .contactform input[type="email"]:focus{
    width: 190px;
    border-color: #4a473c;

}

.mailcontainer {
    align-content: center;
    display: flex;
    width: auto;
    justify-content: center;
}

.mail {
    float: left;
    margin: 20px;
    padding-right: 1%;
}

.phone {
    float: right;
    margin: 20px;
    padding-right: 1%;
}

.subjectbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#subject {
    width: 40em;
    height: 20em;
    margin-top: 3%;
    margin-bottom: 3%;
    max-height: 25em;
    max-width: 50em;
    background-color: #212121;
    color: white;
    border-color: #3d3b33;
}

.sendbtn{
    background: #3d3b33;
    color: white;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 80px;
    height: 40px;
    box-shadow: inset 0 0 0 0 #656358;
    transition: ease-in-out 0.5s;

}

.sendbtn:hover{
    box-shadow: inset 300px 0 0 0 #656358;
    cursor: pointer;
}
