html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #121212;

}

/* Scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3d3b33;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b2a26;
}

/*---------------------------------*/

/* Navigation */
.navbar{
    background-color: #212121;
    /*position: sticky;*/
    /*top: 0;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navtop{
    display: flex;
    padding: 0;
    position: relative;
}

.logoicon{
    height: 80px;
    width: 80px;
    display: flex;
    position: absolute;
    left: 0;
}

.navbar a{
    color: white;
    padding: 14px 16px;
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.navbar li{
    display: inline-flex;
    float: none;
    vertical-align:top;

}

.navbar li a:hover{
    color: #656358;

}

.flg{
    height: 15px;
    width: 21px;
    padding: 3px;
}

.lang{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

/*-----------To-Top-Button----------------*/

.totop{
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 120px;
    padding-bottom: 40px;
    width: 60px;
    height: 60px;
    filter: invert(37%) sepia(8%) saturate(595%) hue-rotate(13deg) brightness(96%) contrast(81%);
}


/*-------------Footer--------------------*/
footer{
    background-color: #212121;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;

}

.logoiconbfoot{
    height: 140px;
    width: 140px;
    display: flex;
    position: relative;
    padding-top: 20px;
}

.footerinfo{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 2rem;
    padding-left: 1.5rem;
    text-align: center;

}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img{
    display: flex;
    padding-top: 40px;
    align-items: center;
    filter: invert(37%) sepia(8%) saturate(595%) hue-rotate(13deg) brightness(96%) contrast(81%);
}

.socials img{
    padding: 8px;
    width: 40px;
    height: 40px;
}

.foottitle{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 8px;
}


