body{
    margin: 0;
    padding: 0;
    background-color: #121212;

}

/* Scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3d3b33;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b2a26;
}

/*---------------------------------*/

/* Navigation */
.navbar{
    background-color: #212121;
    /*position: sticky;*/
    display: flex;
    justify-content: center;
    /*top: 0;*/
    width: 100%;
}

.navbar a{
    color: white;
    padding: 14px 16px;
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
}


.navbar li{
    display: inline-flex;
    float: none;
    vertical-align:top;

}

.navbar li a:hover{
    background: #4a473c;
    color: #c4a11d;
}

/*---------------------------------*/

/* Submit Button */
.sendbtn{
    color: blue;
    background-color: gray;

}


