body{
    margin: 0;
    padding: 0;
    background-color: #121212;

}

/* Scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3d3b33;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b2a26;
}

/*---------------------------------*/

/* Navigation */
.navbar{
    background-color: #212121;
    /*position: sticky;*/
    /*top: 0;*/
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navtop{
    display: flex;
    padding: 0;
    position: relative;
}

.navbar a{
    color: white;
    padding: 14px 16px;
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.navbar li{
    display: inline-flex;
    float: none;
    vertical-align:top;

}

.navbar li a:hover{
    color: #656358;

}

.flg{
    height: 15px;
    width: 21px;
    padding: 3px;
}

.lang{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}


/*---------------------------------*/

/* Submit Button */
.sendbtn{
    color: blue;
    background-color: gray;

}


