.content2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.opdrachten{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.fotoopdrachten{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 20px;
    margin: 2rem 5rem 4rem 2rem;
    border: 3px solid #656358;
}

.nameProfile{
    display: flex;
    flex-direction: column;
}